<flex-catalog [products]="(products | async)"
              (eventPageChange)="handleChangePage($event)"
              [paginationSize]="pagination.page"
              [paginationPage]="(paginationLength | async)"
              (eventGetDetails)="handleClickDetails($event)"
              [titlePage]="'Жалюзи'">
  <filter-cornice [category]="category" [countFilterItem]="(paginationLength | async)"
                  (eventFilterBtn)="handleFilter()" (eventChange)="handleChangeFilter($event)"></filter-cornice>
</flex-catalog>

