<div class="flex-catalog">
  <div #headerproduct class="flex-catalog__header" [ngClass]="{'is-active': isFlow}">
    <extension-panel [title]="titlePage" style="width: 100%;"></extension-panel>
  </div>
  <div class="container">
    <div class="flex-catalog__loader" *ngIf="loading">
      <loading></loading>
    </div>
    <div class="flex-catalog__content" *ngIf="!loading">
      <product-card *ngFor="let item of products"
                    [key]="item.id"
                    [avatarURL]="item.img"
                    [title]="item.title"
                    [titleActionBtn]="'Подробнее'">
      </product-card>
    </div>
    <div class="flex-catalog__pagination">
      <pagination [size]="pageSize" [length]="length" (eventPageChange)="handleChangePage($event)"></pagination>
    </div>
  </div>
</div>
