.card {
  min-width: 150px;
  width: auto;
  height: 100%;
  min-height: 200px;
  max-height: 350px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);

  &__image {
    max-height: 200px;
    min-height: 200px;
  }

  &__action-panel {
    /*display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;*/
    padding: 10px 0 10px 0;
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.18);
  }

  &__title {
    font-size: 14px;
  }

  &__subtitle {
    padding: 10px 0 0 0;
  }
}
