<flex-catalog [products]="(products | async)"
              (eventPageChange)="handleChangePage($event)"
              [paginationSize]="pagination.size"
              [paginationPage]="pagination.page"
              (eventGetDetails)="handleClickDetails($event)"
              [titlePage]="'Аксессуары и фурнитура для штор'">

  <filter-cornice [category]="category"
                  (eventFilterBtn)="handleFilter()"
                  [countFilterItem]="(paginationLength | async)"
                  (eventChange)="handleChangeFilter($event)"
                  (eventFilterReset)="handleFilterReset()">
  </filter-cornice>

</flex-catalog>
