.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 270px;

  .header {
    display: flex;
    position: static;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    background: #3e2d8f;
    z-index: 10000;

    &-top {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      &__left-menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
      }

      &__right-menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-right: 15px;
        cursor: pointer;
      }

      &.isFlow {
        // background: #f3f3f3;
        // box-shadow: none;
        // border-right: 1px solid rgba(0, 0, 0, 0.1);
        // border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: white;
        height: 100%;
        font-size: 14px;

        padding-right: 20px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &:hover mat-icon {
          color: white;
        }

        &:hover {
          color: white;
        }

        &.isActive mat-icon {
          color: #785fff;
        }

        mat-icon {
          margin-left: 10px;
        }
      }
    }
  }

  .content {
    position: relative;
    padding: 0;

    &__body {
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0 1px 0 0px;
    }
  }

  .footer {
    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: #e8e8e870;
    bottom: 0;
    left: 0;
    right: 0;

    &__wrapper {
      width: 100%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

    &__navigator, &__contact {
      &__title {
        margin-top: 0;
        font-size: 14px;
      }

      &__link {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        margin: 20px 0;
        text-decoration: none;
        color: #333333;
        font-size: 14px;
      }
    }

    &__social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;

      svg-icon {
        margin-right: 15px;
        cursor: pointer;
        fill: #586069;

        &:hover {
          fill: #785fff;
        }
      }
    }

    &__contact {
      &__link {
        margin: 20px 0;
      }
    }

    &__copyright {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      background: rgba(255, 255, 255, 0.44);
      height: 40px;
      padding-right: 0;
      padding-left: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &__text {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #586069 !important;
        font-size: 10px !important;
      }
    }
  }

}

.left-icon-href {
  margin-right: 10px;
}

.isActive mat-icon {
  color: #785fff;
}

@media (max-width: 768px) {
  .wrapper {
    padding-bottom: 500px;
  }
}


.catalog-product-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 10000;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  //background: linear-gradient(90deg,#f7f7f7 50%,#f7f7f7 0);

  &__category {
    position: relative;
    flex-basis: 20%;
    font-size: 14px;
    background: linear-gradient(90deg,#f7f7f7 50%,#f7f7f7 0);
  }

  &__subcategory {
    position: relative;
    flex-basis: 80%;
    background: white;
    font-size: 14px;
    line-height: 18px;
    color: #222;
    display: block;


    ul {
      li {
        height: 40px;
        opacity: .7;
        &:hover {
          color: black;
          opacity: 1;
          font-size: 15px;
        }
      }
    }
  }

  &__category, &__subcategory {
    ul {
      font-family: YS Text, sans-serif;
      list-style: none;
      margin: 0;
      padding: 0;
      background: #fbfbfb;

      li {
        padding: 0;
        margin: 0;

        div {
          display: flex;
          cursor: pointer;
          align-content: center;
          justify-content: flex-start;
          height: 50px;
          align-items: center;
          padding-left: 15px;
          border: none;
        }

        div.isActive {
          background: white;
        }
      }
    }
  }


}
