<div class="wrapper">
  <header class="header">
    <div class="header-top container" [ngClass]="{'isFlow': isFlowTopHeader}">
      <div class="header-top__left-menu row">
        <a (click)="handleExtensionMenu()" routerLinkActive="isActive">Каталог товаров
          <mat-icon>{{extensionMenu ? 'clear' : 'list'}}</mat-icon>
        </a>
      </div>
    </div>
  </header>

  <section class="content">
    <div class="catalog-product-menu container" *ngIf="extensionMenu">
      <div class="catalog-product-menu__category">
        <ul>
          <li *ngFor="let category of (getParentCategory() | async)"
              (mouseover)="handleMouseOver(category.id)" (click)="handleClickCategory(category)">
            <div (click)="routLink('product/' + category.systemName, category.id)" [ngClass]="{'isActive': activeMenuItem === category.id}">
              {{category.title}}
            </div>
          </li>
        </ul>
      </div>
      <div class="catalog-product-menu__subcategory">
        <ul>
          <li *ngFor="let category of (getChildCategory() | async)">
            <div (click)="handleSelectCategory(category)">
              {{category.title}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="content__body">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="footer">
    <div class="container footer__wrapper">
      <div class="row">
        <div class="col-12 footer-top">
          <div class="row" style="padding: 30px 20px 30px 20px">
            <div class="col-6 col-md-3 footer__contact">
              <h4 class="footer__contact__title">Контакты</h4>
              <a class="footer__contact__link" href="mailto:devpavdeveloper@gmail.com">
                <mat-icon class="left-icon-href">email</mat-icon>
                Han1390@rambler.ru
              </a>
              <a class="footer__contact__link" href="tel:+375 29 947-96-30">
                <mat-icon class="left-icon-href">phone</mat-icon>
                +375 (29) 718 90 51
              </a>
            </div>
            <div class="col-12 col-md-6 footer__social">
              <a [href]="'https://www.instagram.com/haaskes/?hl=ru'">
                <svg-icon src="../assets/icon/soc/instagram.svg" [svgStyle]="styleSocIcon"></svg-icon>
              </a>
              <a href="https://api.whatsapp.com/send?phone=+375297189051">
                <svg-icon src="../assets/icon/soc/whatsapp.svg" [svgStyle]="styleSocIcon"></svg-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 footer__copyright">
          <div class="col-12 footer__copyright__text">
            © (blowin) https://github.com/blowin (devpav) (https://github.com/devpav)
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

