<div class="wrapper">
  <header class="header">
    <div class="header-top container" [ngClass]="{'isFlow': isFlowTopHeader}">
      <div class="header-top__left-menu row">
        <a (click)="handleExtensionMenu()" routerLinkActive="isActive">Каталог товаров
          <mat-icon>{{extensionMenu ? 'clear' : 'list'}}</mat-icon>
        </a>
      </div>
    </div>
  </header>

  <section class="content">
    <div class="catalog-product-menu" *ngIf="extensionMenu">
      <div class="catalog-product-menu__category">
        <ul>
          <li *ngFor="let category of (getParentCategories() | async)" (mouseover)="handleMouseOver(category)" (click)="handleClickCategory(category)">
            <div [routerLink]="'product/' + category.systemName" [ngClass]="{'isActive': isActive(category)}">
              {{category.title}}
            </div>
          </li>
        </ul>
      </div>
      <div class="catalog-product-menu__subcategory">
        <menu-image [items]="(currentChildren | async) | transformerMenuImageItem" (eventClick)="handleSelectCategory($event, currentChildren)"></menu-image>
      </div>
    </div>
    <div class="content__body">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="footer">
    <div class="container footer__wrapper">
      <div class="row">
        <div class="col-12 footer-top">
          <div class="row" style="padding: 30px 20px 30px 20px">
            <div class="col-6 col-md-3 footer__navigator">
              <h4 class="footer__navigator__title">Навигация</h4>
              <a routerLink="home" routerLinkActive="isActive" class="footer__navigator__link">
                <mat-icon class="left-icon-href">home</mat-icon>
                Главная
              </a>
              <a routerLink="catalog/cornices" routerLinkActive="isActive" class="footer__navigator__link">
                <mat-icon class="left-icon-href">list</mat-icon>
                Каталог
              </a>
              <a routerLink="bucket" routerLinkActive="isActive" class="footer__navigator__link">
                <mat-icon class="left-icon-href">shopping_basket</mat-icon>
                Корзина
              </a>
            </div>
            <div class="col-6 col-md-3 footer__contact">
              <h4 class="footer__contact__title">Контакты</h4>
              <a class="footer__contact__link" href="mailto:devpavdeveloper@gmail.com">
                <mat-icon class="left-icon-href">email</mat-icon>
                devpavdeveloper@gmail.com
              </a>
              <a class="footer__contact__link" href="tel:+375 29 947-96-30">
                <mat-icon class="left-icon-href">phone</mat-icon>
                +375 29 947-96-30
              </a>
              <a class="footer__contact__link" href="tel:+375 29 947-96-30">
                <mat-icon class="left-icon-href">phone</mat-icon>
                +375 29 945-75-84
              </a>
            </div>
            <div class="col-12 col-md-6 footer__social">
              <svg-icon src="../assets/icon/soc/instagram.svg" [svgStyle]="styleSocIcon"></svg-icon>
              <svg-icon src="../assets/icon/soc/whatsapp.svg" [svgStyle]="styleSocIcon"></svg-icon>
            </div>
          </div>
        </div>
        <div class="col-12 footer__copyright">
          <div class="col-12 footer__copyright__text">
            © Devpav (https://github.com/devpav)
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

