.panel {

  background: white;
  cursor: pointer;

  .panel__line {
    background: #f6f6f6;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    color: black;
  }

  &__icon {
    display: flex;
    align-items: center;
    fill: black;
    height: 24px;
    width: 24px;
  }

  .panel__extension {
    margin: 1px 0 1px 10px;
    overflow: hidden;
    border-left: 5px solid #3e2d8f;
  }

}

mat-toolbar {
  flex-direction: column-reverse;
}
