<flex-catalog [products]="(products | async)"
              (eventPageChange)="handleChangePage($event)"
              [paginationPage]="pagination.page"
              [paginationSize]="(paginationLength | async)"
              (eventGetDetails)="handleClickDetails($event)"
              [titlePage]="'Карнизы'">
  <filter-cornice [category]="category"
                  [countFilterItem]="(paginationLength | async)"
                  (eventFilterReset)="handleFilterReset()"
                  (eventFilterBtn)="handleFilter()"
                  (eventChange)="handleChangeFilter($event)"></filter-cornice>
</flex-catalog>
