.chip {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  width: fit-content;
  background: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 40px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  border-radius: 20px;

  &__title {
    font-size: 12px;
  }
}
